@model IEnumerable<BookServiceModel>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card h-100">
                <img src="@book.ImageUrl" class="card-img-top" alt="@book.Title - @book.Author">
                <div class="card-body">
                    <h5 class="card-title text-center">@book.Title</h5>
                    <h6 class="card-text text-center">@book.Author</h6>
                    <p class="card-text text-center">Status: @book.Status</p>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary">Details</a>
                    @if (ViewBag.AllowBookEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>